---
import type { GetStaticPaths, Page } from 'astro'
import PageLayout from '@/layouts/BaseLayout.astro'
import type { CollectionEntry } from 'astro:content'

import Pagination from '@/components/blog/Paginator.astro'
import PostPreview from '@/components/blog/PostPreview.astro'
import { Button } from '@/components/user'
import { getAllCollections, getUniqueTags, sortMDByDate } from '@/utils'
import { siteConfig } from '@/site-config'

export const prerender = true

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getAllCollections()
  const allPostsByDate = sortMDByDate(allPosts)
  const uniqueTags = getUniqueTags(allPosts)
  const totalPosts = allPosts.length
  return paginate(allPostsByDate, {
    pageSize: siteConfig.blog.pageSize,
    props: { uniqueTags, totalPosts }
  })
}) satisfies GetStaticPaths

interface Props {
  page: Page<CollectionEntry<'post'>>
  uniqueTags: string[]
  totalPosts: number
}

const { page, uniqueTags, totalPosts } = Astro.props

const meta = {
  description: 'Some posts or archieves of my blog',
  title: 'Blog'
}

const paginationProps = {
  ...(page.url.prev && {
    prevUrl: {
      text: `← Previous Posts`,
      url: page.url.prev
    }
  }),
  ...(page.url.next && {
    nextUrl: {
      text: `Next Posts →`,
      url: page.url.next
    }
  })
}
---

<PageLayout {meta}>
  <div class='w-full'>
    <Button title='Back' href='/' style='back' />
    <h1 class='mb-6 mt-6 text-3xl font-medium sm:mt-10'>Blog</h1>

    {
      page.data.length === 0 ? (
        <p>No posts yet.</p>
      ) : (
        <>
          <div class='grid gap-y-16 sm:grid-cols-[3fr_1fr] sm:gap-x-8'>
            <section aria-label='Blog posts list'>
              <div class='animate mb-3 flex flex-col justify-between text-sm sm:mb-5 sm:flex-row'>
                <span class='text-muted-foreground'>
                  Page {page.currentPage} - Showing {page.data.length} of {totalPosts} posts
                </span>
                <a aria-label='View all blog by years' href='/archives' data-astro-prefetch>
                  View all posts by years →
                </a>
              </div>
              <ul class='animate flex flex-col gap-y-4 text-start'>
                {page.data.map((p) => (
                  <PostPreview post={p} detailed />
                ))}
              </ul>
              <Pagination {...paginationProps} />
            </section>
            {!!uniqueTags.length && (
              <aside class='animate' id='sidebar'>
                <h2 class='mb-4 flex items-center text-lg font-semibold'>
                  <svg class='me-2 size-6'>
                    <use href='/icons/ui.svg#mingcute-tag-2-line' />
                  </svg>
                  Tags
                </h2>
                <ul class='text-bgColor flex flex-wrap gap-2'>
                  {uniqueTags.map((tag) => (
                    <li>
                      <Button title={tag} href={`/tags/${tag}`} style='pill' />
                    </li>
                  ))}
                </ul>
                <span class='mt-4 block sm:text-end'>
                  <a aria-label='View all blog categories' href='/tags' data-astro-prefetch>
                    View all →
                  </a>
                </span>
              </aside>
            )}
          </div>
        </>
      )
    }
  </div>
</PageLayout>
