---
import type { CardListData } from '@/types'

import { Collapse } from '@/components/user'

import CardListChildren from './CardListChildren.astro'

type Props = CardListData & {
  collapse?: boolean
  class?: string
}

const { title, list, collapse, class: className } = Astro.props
---

<div class={className}>
  {
    collapse ? (
      <Collapse title={title} class='not-prose'>
        <CardListChildren children={list} />
      </Collapse>
    ) : (
      <div class='not-prose my-3 flex flex-col gap-y-2 rounded-xl border px-4 py-3 sm:py-4'>
        <p class='text-lg font-medium text-foreground'>{title}</p>
        <CardListChildren children={list} />
      </div>
    )
  }
</div>
