---
import { Image } from 'astro:assets'

interface friend {
  avatar: string
  name: string
  intro: string
  link: string
}

interface friend_list {
  id_name: string
  desc: string
  link_list: friend[]
}

function shuffle(arr: friend[]) {
  return arr.sort(function () {
    return Math.random() - 0.5
  })
}

interface Props {
  title?: string
  list: friend_list
}
const { title, list: friendlist, ...props } = Astro.props
---

{title && <h2 id={friendlist.id_name}>{title}</h2>}
<div class='grid gap-4 sm:grid-cols-2 lg:grid-cols-3' {...props}>
  {
    friendlist.link_list.length !== 0 ? (
      shuffle(friendlist.link_list).map((frd: friend, index) => (
        <a href={frd.link} about='_blank' class='no-underline'>
          <div class='relative h-full overflow-hidden rounded-2xl border border-border bg-background px-4 py-2'>
            <div class='relative z-10 flex h-full items-center gap-3'>
              <Image
                class='my-0 h-16 w-16 min-w-16 rounded-full'
                src={frd.avatar}
                height={80}
                width={80}
                alt='avatar'
                loading={index < 12 ? 'eager' : 'lazy'}
              />
              <div>
                <p class='my-2 line-clamp-1 text-sm'>{frd.name} </p>
                <p class='my-2 line-clamp-2 text-xs text-muted-foreground'>{frd.intro}</p>
              </div>
            </div>
            <Image
              class='absolute left-0 top-0 z-0 my-0 h-full w-2/3 object-cover opacity-15'
              src={frd.avatar}
              height={80}
              width={80}
              alt='avatar bg'
              loading={index < 12 ? 'eager' : 'lazy'}
              style={{
                maskImage: 'linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%)',
                msMaskImage:
                  '-ms-linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%)',
                WebkitMaskImage:
                  '-webkit-linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%)'
              }}
            />
          </div>
        </a>
      ))
    ) : (
      <p>Nothing here.</p>
    )
  }
</div>
