---
import { footerConfig, siteConfig } from '@/site-config'

const year = new Date().getFullYear()

const SocialMediaIconId: Record<string, string> = {
  coolapk: 'coolapk-line',
  telegram: 'mingcute-telegram-line',
  github: 'mingcute-github-line',
  bilibili: 'ri-bilibili-line',
  twitter: 'mingcute-twitter-line',
  zhihu: 'ri-zhihu-line',
  steam: 'ri-steam-line',
  netease_music: 'ri-netease-cloud-music-line',
  mail: 'mingcute-mail-line'
}
---

<footer class='mx-auto mt-24 w-full'>
  <div class='border-t border-border pt-5'>
    <div
      class='flex flex-col items-center gap-y-3 sm:flex sm:flex-row sm:items-center sm:justify-between sm:gap-y-0'
    >
      <div class='flex flex-col items-center gap-2 text-sm sm:flex-row sm:gap-x-4'>
        {
          /* <a
          class='inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600'
          href='/terms'>Terms</a
        >
        <a
          class='inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600'
          href='/privacy'>Privacy</a
        > */
        }
        {
          footerConfig.registration && (
            <a
              class='py-[3px] text-xs text-muted-foreground'
              href={footerConfig.registration.url}
              target='_blank'
            >
              {footerConfig.registration.text}
            </a>
          )
        }
        <div class='text-muted-foreground [&_a:hover]:text-primary [&_a]:text-foreground'>
          © {year}
          {siteConfig.author} &
          <a href='/terms/list' class='text-muted-foreground'>Site policy</a>
        </div>
        <div class='text-muted-foreground [&_a:hover]:text-primary [&_a]:text-foreground'>
          <a href='https://github.com/withastro/astro' target='_blank'>Astro</a> &
          <a href='https://github.com/cworld1/astro-theme-pure' target='_blank'>Pure</a> theme powered
        </div>
      </div>

      <div class='flex items-center justify-between'>
        {/* Social Brands */}
        <div class='flex items-center gap-x-4'>
          {
            footerConfig.socialLinks.map((platform) => (
              <a
                class='inline-block text-muted-foreground transition-all hover:text-muted-foreground/75'
                href={platform.url}
                aria-label={platform.name}
              >
                <svg class='size-6'>
                  <use href={`/icons/social.svg#${SocialMediaIconId[platform.name]}`} />
                </svg>
              </a>
            ))
          }
          {/* Rss */}
          <a
            class='inline-block text-muted-foreground transition-all hover:text-muted-foreground/75'
            href='/rss.xml'
            aria-label='rss'
          >
            <svg class='size-6'>
              <use href='/icons/social.svg#mingcute-rss-2-line'></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
