---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/home/Section.astro'
import Card from '../components/Card.astro'
import ProjectCard from '../components/home/ProjectCard.astro'
import Label from '../components/home/Label.astro'
import SkillLayout from '../components/home/SkillLayout.astro'
import Hitokoto from '@/components/home/Hitokoto.astro'
import PostPreview from '@/components/blog/PostPreview.astro'
import { Image } from 'astro:assets'

import { getAllPosts, sortMDByDate } from '@/utils'
import Button from '@/components/Button.astro'

const languages = [
  'C',
  'C++',
  'C#',
  'Java',
  'Python',
  'Html',
  'JavaScript',
  'CSS',
  'R',
  'SQL',
  'Go',
  'Prolog',
  'Php',
  'Lua',
  'Matlab'
]
const frontend = ['TypeScript', 'React', 'Redux', 'Vue', 'Pinia', 'Vite', 'Webpack']
const backend = ['Flask', 'Nginx', 'NextJS']
const others = ['Qt', 'PyQt', 'Qml', 'Android', 'Unity']

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }}>
  <div class='flex w-full flex-col gap-y-10'>
    <section class='flex flex-col items-center gap-y-7'>
      <Image
        src='https://cravatar.cn/avatar/1ffe42aa45a6b1444a786b1f32dfa8aa?s=200'
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
        inferSize
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>CWorld</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <!-- <Label title='Lorem Ipsum'>
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='h-5 w-5' slot='icon'
              ><path
                fill='currentColor'
                d='M4.615 20q-.69 0-1.152-.462Q3 19.075 3 18.385v-9.77q0-.69.463-1.152Q3.925 7 4.615 7H9V5.615q0-.69.463-1.152Q9.925 4 10.615 4h2.77q.69 0 1.53.463q.462.462.462 1.152V7h4.385q.69 0 1.152.463q.463.462.463 1.152v9.77q0 .69-.462 1.152q-.463.463-1.153.463zm0-1h14.77q.23 0 .423-.192q.192-.193.192-.423v-9.77q0-.23-.192-.423Q19.615 8 19.385 8H4.615q-.23 0-.423.192Q4 8.385 4 8.615v9.77q0 .23.192.423q.193.192.423.192M10 7h4V5.615q0-.23-.192-.423Q13.615 5 13.385 5h-2.77q-.23 0-.423.192q-.192.193-.192.423zM4 19V8z'
              ></path></svg
            >
          </Label> -->
          <Label title='China'>
            <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' slot='icon' viewBox='0 0 24 24'
              ><g fill='none' fill-rule='evenodd'
                ><path
                  d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'
                ></path><path
                  fill='currentColor'
                  d='M12 2a9 9 0 0 1 9 9c0 3.074-1.676 5.59-3.442 7.395a20.441 20.441 0 0 1-2.876 2.416l-.426.29l-.2.133l-.377.24l-.336.205l-.416.242a1.874 1.874 0 0 1-1.854 0l-.416-.242l-.52-.32l-.192-.125l-.41-.273a20.638 20.638 0 0 1-3.093-2.566C4.676 16.589 3 14.074 3 11a9 9 0 0 1 9-9m0 2a7 7 0 0 0-7 7c0 2.322 1.272 4.36 2.871 5.996a18.03 18.03 0 0 0 2.222 1.91l.458.326c.148.103.29.199.427.288l.39.25l.343.209l.289.169l.455-.269l.367-.23c.195-.124.405-.263.627-.417l.458-.326a18.03 18.03 0 0 0 2.222-1.91C17.728 15.361 19 13.322 19 11a7 7 0 0 0-7-7m0 3a4 4 0 1 1 0 8a4 4 0 0 1 0-8m0 2a2 2 0 1 0 0 4a2 2 0 0 0 0-4'
                ></path></g
              ></svg
            >
          </Label>
          <Label title='Follow My Github' as='a' href='https://github.com/cworld1' target='_blank'>
            <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' slot='icon' viewBox='0 0 24 24'
              ><g fill='none'
                ><path
                  d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'
                ></path><path
                  fill='currentColor'
                  d='M6.315 6.176c-.25-.638-.24-1.367-.129-2.034a6.77 6.77 0 0 1 2.12 1.07c.28.214.647.283.989.18A9.343 9.343 0 0 1 12 5c.961 0 1.874.14 2.703.391c.342.104.709.034.988-.18a6.77 6.77 0 0 1 2.119-1.07c.111.667.12 1.396-.128 2.033c-.15.384-.075.826.208 1.14C18.614 8.117 19 9.04 19 10c0 2.114-1.97 4.187-5.134 4.818c-.792.158-1.101 1.155-.495 1.726c.389.366.629.882.629 1.456v3a1 1 0 0 0 2 0v-3c0-.57-.12-1.112-.334-1.603C18.683 15.35 21 12.993 21 10c0-1.347-.484-2.585-1.287-3.622c.21-.82.191-1.646.111-2.28c-.071-.568-.17-1.312-.57-1.756c-.595-.659-1.58-.271-2.28-.032a9.081 9.081 0 0 0-2.125 1.045A11.432 11.432 0 0 0 12 3c-.994 0-1.953.125-2.851.356a9.08 9.08 0 0 0-2.125-1.045c-.7-.24-1.686-.628-2.281.031c-.408.452-.493 1.137-.566 1.719l-.005.038c-.08.635-.098 1.462.112 2.283C3.484 7.418 3 8.654 3 10c0 2.992 2.317 5.35 5.334 6.397A3.986 3.986 0 0 0 8 17.98l-.168.034c-.717.099-1.176.01-1.488-.122c-.76-.322-1.152-1.133-1.63-1.753c-.298-.385-.732-.866-1.398-1.088a1 1 0 0 0-.632 1.898c.558.186.944 1.142 1.298 1.566c.373.448.869.916 1.58 1.218c.682.29 1.483.393 2.438.276V21a1 1 0 0 0 2 0v-3c0-.574.24-1.09.629-1.456c.607-.572.297-1.568-.495-1.726C6.969 14.187 5 12.114 5 10c0-.958.385-1.881 1.108-2.684c.283-.314.357-.756.207-1.14'
                ></path></g
              ></svg
            >
          </Label>
        </div>
      </div>
    </section>

    <Section title='About'>
      <p class='text-muted-foreground'>Developer / Designer</p>
      <p class='text-muted-foreground'>
        Full-time undergraduate student at the <a
          target='_blank'
          title='swu'
          href='http://swu.edu.cn/'>🏫 Sounthwestern University</a
        >. Mainly learns research big data science, front-end development and neural network
        learning.
      </p>
      <Button title='More About Me' href='/about' style='button'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='14'
          height='14'
          viewBox='0 0 24 24'
          slot='icon-before'
        >
          <path
            fill='currentColor'
            d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
          >
          </path>
        </svg>
      </Button>
    </Section>
    {
      allPostsByDate.length > 0 && (
        <Section title='Posts'>
          <ul class='flex flex-col gap-y-2'>
            {allPostsByDate.map((p) => (
              <li class='flex flex-col gap-x-2 sm:flex-row'>
                <PostPreview post={p} />
              </li>
            ))}
          </ul>
        </Section>
      )
    }

    <!-- <Section title='Experience'>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-left-16'
      >
        <ul class='ml-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!

            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
          </li>
        </ul>
      </Card>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-left-16'
      />
    </Section> -->

    <Section title='Education'>
      <Card
        heading='Southwestern University'
        subheading='Full-time undergraduate student'
        date='Augest 2021 - July 2025'
        imagePath='/src/assets/about-astro.png'
        altText='just a pic'
        imageClass='h-12 w-auto md:-left-16'
      >
        <ul class='ml-4 list-disc text-muted-foreground'>
          <!-- <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!
          </li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li> -->
        </ul>
      </Card>
    </Section>

    <Section title='Website List'>
      <div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
        <ProjectCard
          href='https://www.google.com'
          heading='Consectetur'
          subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit.'
          imagePath='/src/assets/coming-soon.png'
          altText='Example'
          class='w-full sm:w-1/2'
        />
        <ProjectCard
          as='div'
          heading='Coming soon...'
          subheading='test'
          imagePath='/src/assets/coming-soon.png'
          altText='Lorem, ipsum dolor sit'
          class='w-full sm:w-1/2'
        />
      </div>
    </Section>

    <Section title='Certifications'>
      <Card
        as='a'
        heading='Mathematical Modeling Competition'
        subheading='Won the first prize of the national award in the National Mathematical Modeling Competition of "Higher Education Society"'
        date='October 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Just a pic'
        imageClass='h-11 w-auto md:-left-16'
        href='http://www.mcm.edu.cn'
      />
    </Section>

    <Section title='Skills'>
      <SkillLayout title='Languages' skills={languages} />
      <SkillLayout title='Frontend' skills={frontend} />
      <SkillLayout title='Backend' skills={backend} />
      <SkillLayout title='Others' skills={others} />
    </Section>
  </div>

  <div
    class='mt-16 flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
  >
    <span class='relative flex items-center justify-center'>
      <span
        class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
      ></span>
      <span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
    </span>

    <Hitokoto />
  </div>
</PageLayout>
