---
import Collapse from '@/components/Collapse.astro'
import Timeline from '@/components/Timeline.astro'
import FriendList from '@/components/links/FriendList.astro'
import PageLayout from '@/layouts/CommonPage.astro'
import Comment from '@/components/Comment.astro'
import { siteConfig } from '@/site-config'

import links from 'public/links.json'
import '@/assets/styles/fc.css'

const headings = [
  {
    depth: 2,
    slug: 'common-links',
    text: 'Common Links'
  },
  {
    depth: 2,
    slug: 'special-links',
    text: 'Special Links'
  },
  {
    depth: 2,
    slug: 'small-circle',
    text: 'Small Circle'
  },
  {
    depth: 2,
    slug: 'apply-links',
    text: 'Apply Links'
  }
]

const friendlist = links.friends
---

<PageLayout title='Links' headings={headings} info='/links'>
  <p>怎么可能有顺序呢，当然是随机的~</p>
  <h2 id='common-links'>Common Links</h2>
  <FriendList list={friendlist[0]} />
  <Collapse title='Links with Bad Status'>
    <FriendList list={friendlist[1]} />
  </Collapse>
  <Collapse title='Link History Book'>
    <Timeline
      events={[
        { date: '2020-07-09', content: '[蒟蒻の BLOG] rejected' },
        { date: '2020-07-09', content: '[Vexsy] rejected' },
        { date: '2020-07-07', content: '[Raaynk’s Blog] lost' },
        { date: '2020-07-07', content: '[冬马的白色相簿] returned' },
        { date: '2021-02-22', content: '[半叶子] rejected' },
        { date: '2021-02-22', content: '[冬马的白色相簿] lost' },
        { date: '2021-02-02', content: '[Heven Kin] returned' },
        { date: '2022-02-13', content: '[理工小天使] lost' },
        { date: '2022-02-13', content: '[自由灵的梦境] lost' },
        { date: '2022-02-13', content: '[冬马のホワイトアルバム] lost' },
        { date: '2022-02-13', content: '[Sansui] lost' },
        { date: '2022-09-01', content: '[椎咲良田] lost' },
        { date: '2022-09-01', content: '[木子の Blog] rejected' },
        { date: '2022-09-01', content: '[LanYun の Blog] lost' },
        { date: '2022-09-01', content: "[Wittoy's Blog] lost" },
        { date: '2022-09-05', content: '[东方幻梦] rejected' },
        { date: '2022-09-05', content: '[绎梦机] rejected' },
        { date: '2022-11-09', content: '[一叶竹] lost' },
        { date: '2022-11-23', content: "[KD's Blog] lost" },
        { date: '2022-02-13', content: '[LanYun の Blog] returned' },
        { date: '2022-12-14', content: '[KD 的网络小屋] returned' },
        { date: '2023-02-09', content: '[L1nSn0w’s Blog] lost' },
        { date: '2023-02-09', content: '[鲨鱼辣椒] lost' },
        { date: '2023-02-09', content: "[Jinlk's blog] lost" },
        { date: '2023-02-09', content: '[L1nSn0w’s Blog] returned' },
        { date: '2023-03-01', content: '[NEKO#ΦωΦ] lost' },
        { date: '2023-04-25', content: '[Barkure] lost' },
        { date: '2023-04-25', content: '[KD 的网络小屋] lost' },
        { date: '2023-06-13', content: '[LyShark - 孤风洗剑] lost' },
        { date: '2023-06-13', content: '[Ojhdt’s Blog] lost' },
        { date: '2023-06-13', content: '[Barkure] lost' },
        { date: '2023-06-13', content: "[七云's Blog] lost" },
        { date: '2023-10-24', content: "[Enjoy's blog] lost" },
        { date: '2023-10-24', content: "[Wayne's Blog] lost" },
        { date: '2023-10-24', content: "[七云's Blog] returned" },
        { date: '2024-04-29', content: '[彬红茶博客] lost' },
        { date: '2024-04-29', content: '[OURONGXING] rejected' },
        { date: '2024-04-29', content: '[凌冬的个人博客] lost' },
        { date: '2024-04-29', content: '[大蛋糕的烘焙坊] rejected' },
        { date: '2024-05-07', content: '[Fly] lost' },
        { date: '2024-06-13', content: "[Y'Blog] lost" },
        { date: '2024-06-18', content: "[Y'Blog] returned" },
        { date: '2024-07-01', content: '[安知鱼 荒废' },
        { date: '2024-07-01', content: '[Kris Yan 荒废' },
        { date: '2024-07-01', content: '[Ordis 荒废' },
        { date: '2024-07-01', content: '[itsNeko] rejected' },
        { date: '2024-07-01', content: "[Wittoy's Blog] returned" },
        { date: '2024-09-23', content: '[流年轻迹] lost' },
        { date: '2024-10-07', content: '[lee’s blog] lost' },
        { date: '2024-11-19', content: '[Joyer 的博客] stagnated' },
        { date: '2024-11-19', content: "[Wayne's Blog] lost" },
        { date: '2024-11-19', content: '[流年轻迹] lost' },
        { date: '2024-11-26', content: '[字节君] stagnated' }
      ]}
    />
  </Collapse>
  <FriendList list={friendlist[2]} title='Special Links' />

  <h2 id='small-circle'>Small Circle</h2>
  <div id='friend-circle-lite-root' class='not-prose'>Loading...</div>
  <script>
    import { FriendCircle } from '@/utils/friend-circle'
    const fc = new FriendCircle()
    fc.init({
      private_api_url: 'https://cworld-fc.netlify.app/',
      page_turning_number: 10,
      error_img: 'https://cravatar.cn/avatar/57d8260dfb55501c37dde588e7c3852c'
    })
    fc.load()
  </script>

  <!-- apply-links -->
  <h2 id='apply-links'>Apply Links</h2>
  <p>本站信息如下：</p>
  <blockquote class='not-prose break-words border-s-4 ps-4'>
    <p>名称：<code>{siteConfig.applyFriendTip.name}</code></p>
    <p>简介：<code>{siteConfig.applyFriendTip.slogan}</code></p>
    <p>链接：<code>{siteConfig.applyFriendTip.url}</code></p>
    <p>图标：<code>{siteConfig.applyFriendTip.avatar}</code></p>
  </blockquote>

  <p>
    申请时还请按照这个模板留言（<a
      href='https://github.com/cworld1/cworld1/blob/main/public/links.json'
      target='_blank'>提交 PR</a
    > 或许也是个更快的办法）。此外有关申请说明：
  </p>
  <ul>
    <li>在你的友链上添加了本站；</li>
    <li>请确保你的站点活着；</li>
    <li>博客内容不违反国家法律。</li>
  </ul>
  <Comment slot='bottom' />
</PageLayout>
