---
import links from 'public/links.json'
import config from 'virtual:config'

import { Collapse, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'

const headings = [
  { depth: 2, slug: 'common-links', text: 'Common Links' },
  { depth: 2, slug: 'special-links', text: 'Special Links' },
  { depth: 2, slug: 'small-circle', text: 'Small Circle' },
  { depth: 2, slug: 'apply-links', text: 'Apply Links' }
]

const { friends } = links
const linksConf = config.integ.links
const linkEditPage = 'https://github.com/cworld1/cworld1/blob/main/public/links.json'
---

<PageLayout title='Links' {headings} comment>
  <p>They're sorted randomly.</p>
  <h2 id='common-links'>Common Links</h2>
  <FriendList list={friends[0]} />
  Links with <a href='https://github.com/cworld1/astro-theme-pure' target='_blank'
    >Astro Theme Pure</a
  >:
  <FriendList list={friends[1]} />
  <Collapse title='Links with Bad Status'>
    <FriendList list={friends[2]} />
  </Collapse>
  <Collapse title='Link History Book'>
    <Timeline events={linksConf.logbook} />
  </Collapse>
  <h2 id='special-links'>Special Links</h2>
  <FriendList list={friends[3]} />

  <h2 id='small-circle'>Small Circle</h2>
  <div id='friend-circle-lite-root' class='not-prose'>Loading...</div>
  <script>
    import '@/assets/styles/fc.css'

    import { FriendCircle } from '@/plugins/friend-circle'

    const fc = new FriendCircle()
    fc.init({
      private_api_url: 'https://cworld-fc.netlify.app/',
      page_turning_number: 10,
      error_img: 'https://cravatar.cn/avatar/57d8260dfb55501c37dde588e7c3852c'
    })
    fc.load()
  </script>

  <!-- apply-links -->
  <h2 id='apply-links'>Apply Links</h2>
  <p>本站信息（点击复制）The site information (click to copy)：</p>
  <blockquote class='not-prose grid grid-cols-[auto_1fr] gap-x-2 break-words border-s-4 ps-4'>
    {
      linksConf.applyTip.map(({ name, val }) => {
        const script = `navigator.clipboard.writeText('${val}');document.dispatchEvent(new CustomEvent('toast',{detail:{message:'Copied "${val}" to clipboard!'}}))`
        return (
          <>
            <span class='text-end'>{name}:</span>
            <samp class='cursor-pointer' onclick={script}>
              {val}
            </samp>
          </>
        )
      })
    }
  </blockquote>

  <p>
    可通过下方留言或 <a href={linkEditPage} target='_blank'>提交 PR</a> 申请友链。申请说明：<br />
    Apply your link by leaving comment or <a href={linkEditPage} target='_blank'>Submitting a PR</a
    >. Additional info:
  </p>
  <ul>
    <li>推荐了本站 You've recommended our link on your website</li>
    <li>站点活着且有正式域名 Make sure your site is alive with a formal domain</li>
    <li>
      至少五篇原创文章且最近一年更新过 At least 5 original articles and exists articles released in
      recent year
    </li>
    <li>内容不违反国家法律 Content does not violate laws</li>
  </ul>
</PageLayout>
