---
import type { CollectionEntry } from 'astro:content'

import PageLayout from '@/layouts/BaseLayout.astro'
import TOC from '@/components/pages/TOC.astro'
import BlogHero from '@/components/blog/Hero.astro'
import Copyright from '@/components/blog/Copyright.astro'
import ArticleBottom from '@/components/blog/ArticleBottom.astro'
import Comment from '@/components/Comment.astro'
import Button from '@/components/Button.astro'
import BackToTop from '@/components/pages/BackToTop.astro'

import '@waline/client/style'
import type { MarkdownHeading } from 'astro'

interface Props {
  post: CollectionEntry<'post'>
  headings: MarkdownHeading[]
}

const { post, headings } = Astro.props
const {
  data: { description, heroImage, publishDate, title, updatedDate }
} = post
const socialImage = heroImage
  ? typeof heroImage.src === 'string'
    ? heroImage.src
    : heroImage.src.src
  : '/images/social-card.png'
const articleDate = updatedDate?.toISOString() ?? publishDate.toISOString()
const primaryColor = post.data.heroImage?.color ?? 'hsl(var(--primary) / var(--tw-text-opacity))'
---

<PageLayout
  meta={{ articleDate, description, ogImage: socialImage, title }}
  highlightColor={primaryColor}
>
  <div class='w-full'>
    <Button title='Back' href='/blog' style='back' />
    <div class='mt-6 w-full items-start gap-x-10 md:flex'>
      {
        !!headings.length && (
          <TOC
            class='animate top-24 z-10 min-w-40 basis-60 max-md:hidden md:sticky md:order-2'
            headings={headings}
          />
        )
        /* class='animate sticky top-24 z-10 basis-60 max-lg:bottom-0 max-lg:left-0 max-lg:hidden max-lg:w-full max-lg:bg-primary-foreground max-lg:p-4 lg:order-2' */
      }
      <article class='flex-1'>
        <div id='blog-hero'><BlogHero content={post} /></div>
        <div
          id='content'
          class='animate prose prose-base prose-zinc mt-8 max-w-none text-muted-foreground dark:prose-invert prose-headings:font-medium prose-headings:text-foreground md:min-w-[45ch]'
        >
          <slot />
        </div>
      </article>
    </div>

    <div class='mt-8 w-full items-start gap-x-10 md:flex'>
      <div class='mt-8 flex-1 text-muted-foreground md:min-w-[50ch]'>
        <!-- copyright -->
        <Copyright content={post} />
        <!-- article recommend -->
        <ArticleBottom content={post} class='mt-3 sm:mt-6' />
        <!-- comment -->
        {!post.data.draft && <Comment class='mt-3 sm:mt-6' />}
      </div>
      <div class='min-w-40 basis-60'>
        <slot name='bottom' />
      </div>
    </div>
    <BackToTop header='blog-hero' content='content' />
  </div>
</PageLayout>

<style define:vars={{ primaryColor }}>
  :global(.highlight) {
    color: var(--primaryColor) !important;
  }
  :global(.highlight-bg) {
    background-color: var(--primaryColor) !important;
  }
</style>
