---
import type { MarkdownHeading } from 'astro'
import PageLayout from '@/layouts/BaseLayout.astro'
import type { CollectionEntry } from 'astro:content'

import ArticleBottom from '@/components/blog/ArticleBottom.astro'
import Copyright from '@/components/blog/Copyright.astro'
import BlogHero from '@/components/blog/Hero.astro'
import BackToTop from '@/components/pages/BackToTop.astro'
import Comment from '@/components/pages/Comment.astro'
import TOC from '@/components/pages/TOC.astro'
import { Button } from '@/components/user'

// Plugin styles
import '@waline/client/style'

import { MediumZoom } from '@/components/advanced'
import { cn } from '@/utils'
import { integrationConfig } from '@/site-config'

interface Props {
  post: CollectionEntry<'post'>
  headings: MarkdownHeading[]
}

const { post, headings } = Astro.props
const {
  data: { description, heroImage, publishDate, title, updatedDate }
} = post
const socialImage = heroImage
  ? typeof heroImage.src === 'string'
    ? heroImage.src
    : heroImage.src.src
  : '/images/social-card.png'
const articleDate = updatedDate?.toISOString() ?? publishDate.toISOString()
const primaryColor = post.data.heroImage?.color ?? 'hsl(var(--primary) / var(--tw-text-opacity))'
---

<PageLayout
  meta={{ articleDate, description, ogImage: socialImage, title }}
  highlightColor={primaryColor}
>
  <div class='w-full'>
    <Button title='Back' href='/blog' style='back' />
    <div class='mt-6 w-full items-start gap-x-10 md:flex'>
      {
        !!headings.length && (
          <TOC
            class='animate top-24 z-10 min-w-40 basis-60 max-md:hidden md:sticky md:order-2 lg:shrink-0'
            headings={headings}
          />
        )
        /* class='animate sticky top-24 z-10 basis-60 max-lg:bottom-0 max-lg:left-0 max-lg:hidden max-lg:w-full max-lg:bg-primary-foreground max-lg:p-4 lg:order-2' */
      }
      <article class='min-w-0 grow'>
        <div id='content-header' class='animate'><BlogHero content={post} /></div>
        <div
          id='content'
          class={cn('animate mt-8 max-w-none md:min-w-[45ch]', integrationConfig.typography.class)}
        >
          <slot />
        </div>
      </article>
    </div>

    <div class='mt-8 w-full items-start gap-x-10 md:flex'>
      <div class='mt-8 flex-1 text-muted-foreground md:min-w-[50ch]'>
        {/* Copyright */}
        <Copyright content={post} />
        {/* Article recommend */}
        <ArticleBottom content={post} class='mt-3 sm:mt-6' />
        {/* Comment */}
        {!post.data.draft && <Comment class='mt-3 sm:mt-6' />}
      </div>
      <div class='min-w-40 basis-60'>
        <slot name='bottom' />
      </div>
    </div>
    <BackToTop header='content-header' content='content' />
  </div>
</PageLayout>

{integrationConfig.mediumZoom.enable && <MediumZoom />}

<style define:vars={{ primaryColor }}>
  :global(.highlight) {
    color: var(--primaryColor) !important;
  }
  :global(.highlight-bg) {
    background-color: var(--primaryColor) !important;
  }
</style>
