---
import type { CollectionEntry } from 'astro:content'
import '@waline/client/style'

import BlogHero from '@/components/blog/Hero.astro'
import TOC from '@/components/blog/TOC.astro'
import Comment from '@/components/Comment.astro'
import Button from '@/components/Button.astro'
import PageLayout from './BaseLayout.astro'
import Copyright from '@/components/blog/Copyright.astro'
import ArticleBottom from '@/components/blog/ArticleBottom.astro'

interface Props {
  post: CollectionEntry<'post'>
}

const { post } = Astro.props
const {
  data: { description, ogImage, coverImage, publishDate, title, updatedDate },
  slug
} = post
const socialImage =
  ogImage ?? (coverImage && coverImage.src ? coverImage.src.src : `/og-image/${slug}.png`)
const articleDate = updatedDate?.toISOString() ?? publishDate.toISOString()
const { headings } = await post.render()
---

<PageLayout meta={{ articleDate, description, ogImage: socialImage, title }}>
  <div class='w-full'>
    <Button title='Back' href='/blog' style='back' />
    <div class='mt-8 gap-x-10 lg:flex lg:items-start'>
      {!!headings.length && <TOC headings={headings} />}
      <article class='flex-grow break-words' data-pagefind-body>
        <div id='blog-hero'><BlogHero content={post} /></div>
        <div
          class='prose prose-base prose-zinc mt-12 text-muted-foreground dark:prose-invert prose-headings:font-medium prose-headings:text-foreground prose-headings:before:absolute prose-headings:before:-ms-4 prose-th:before:content-none'
        >
          <slot />
        </div>
      </article>
    </div>
    <div
      class='prose prose-base prose-zinc mt-12 text-muted-foreground dark:prose-invert prose-headings:font-medium prose-headings:text-foreground prose-headings:before:absolute prose-headings:before:-ms-4 prose-th:before:content-none'
    >
      <!-- copyright -->
      <Copyright content={post} />
      <!-- article recommend -->
      <ArticleBottom content={post} class='mt-3 sm:mt-6' />
      <!-- comment -->
      {!post.data.draft && <Comment />}
    </div>
    <button
      aria-label='Back to Top'
      class='z-90 fixed bottom-8 end-4 flex h-8 w-8 translate-y-28 items-center justify-center rounded-full border-2 border-transparent bg-primary-foreground text-3xl opacity-0 transition-all duration-300 hover:border-border/75 data-[show=true]:translate-y-0 data-[show=true]:opacity-100 sm:end-8 sm:h-12 sm:w-12'
      data-show='false'
      id='to-top-btn'
    >
      <svg class='size-6 text-muted-foreground'>
        <use href='/icons/ui.svg#mingcute-up-line'></use>
      </svg>
    </button>
  </div>
</PageLayout>

<script>
  const scrollBtn = document.getElementById('to-top-btn') as HTMLButtonElement
  const targetHeader = document.getElementById('blog-hero') as HTMLDivElement
  function callback(entries: IntersectionObserverEntry[]) {
    entries.forEach((entry) => {
      // only show the scroll to top button when the heading is out of view
      scrollBtn.dataset.show = (!entry.isIntersecting).toString()
    })
  }
  scrollBtn.addEventListener('click', () => {
    document.documentElement.scrollTo({ behavior: 'smooth', top: 0 })
  })
  const observer = new IntersectionObserver(callback)
  observer.observe(targetHeader)
</script>
